name: Brute Force Build 2026
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          # UPGRADED from 8.7 to 8.9 to satisfy the Android Plugin
          gradle-version: 8.9 

      - name: Build APK
        run: gradle clean assembleDebug --stacktrace --no-daemon

      - name: Upload Compatible APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: DhakaFlix-Final-v2
          path: "**/build/outputs/apk/debug/*.apk"
